
<ul class="tabs" role="tablist" aria-owns="t1 t2 t3 t4">
<li role="presentation">
  <a 
    #tab1
    (click)="setTabContent(1)"
    (keydown)="handleKeydownOnTabs($event, 1)"
    role="tab" 
    href="#"
    id="t1" 
    aria-posinset="1" 
    aria-label="Name 1"  
    aria-setsize="3" 
  >
      Name 1
    </a>
</li>
<li role="presentation">
  <a 
   #tab2
   (click)="setTabContent(2)"
   (keydown)="handleKeydownOnTabs($event, 2)"
    role="tab" 
    href="#" 
    id="t2"  
    aria-posinset="2" 
    aria-label="Name 2" 
    aria-setsize="3"  
  >
      Name 2
    </a>
</li>

<li role="presentation">
  <a 
   #tab3
   (click)="setTabContent(3)"
   (keydown)="handleKeydownOnTabs($event, 3)"
    role="tab" 
    href="#" 
    id="t3"  
    aria-posinset="3" 
    aria-label="Name 3" 
    aria-setsize="3"  
  >
      Name 3
    </a>
</li>


</ul>

<div id="theTabPanel" #tabPanel role="tabpanel" tabindex="0">
  <p>{{tabContent}}</p>
</div>
