
<ul class="tabs" role="tablist" aria-owns="xTab1id xTab2id xTab3id xTab4id">
<li role="presentation">
  <a 
     #tab1
    (click)="setTabContent(1)"
    (keydown)="handleKeydownOnTabs($event, 1)"
    role="tab" 
    href="#"
    id="xTab1id" 
    aria-posinset="1" 
    aria-label="Name 1"  
    aria-setsize="2" 
  >
      Name 1
    </a>
</li>
<li role="presentation">
  <a 
   #tab2
   (click)="setTabContent(2)"
   (keydown)="handleKeydownOnTabs($event, 2)"
    role="tab" 
    href="#" 
    id="xTab2id"  
    aria-posinset="2" 
    aria-label="Name 2" 
    aria-setsize="2"  
  >
      Name 2
    </a>
</li>

</ul>

<div id="theTabPanel" role="tabpanel" tabindex="0" aria-labelledby="xTab1id" aria-describedby="AccDC1522875271997">
  <p>{{tabContent}}</p>
</div>
