<div id="appContainer">
	<header class="header">
    <img src="assets/Level-Access-Logo.png" id="la-logo" alt="Level Access">
  </header>

  <h1>
  {{ title }}
  </h1>
	<h2>About</h2>
	<p>This is a Tablist implementation in Angular that is based on <a href="http://whatsock.com/tsg/Coding%20Arena/ARIA%20and%20Non-ARIA%20Tabs/ARIA%20Tabs%20(Internal%20Content)/demo.htm">this TABS example from http://whatsock.com/</a></p>

	<h2>Example</h2>
  <app-tablist></app-tablist>

	<h2>Keyboard Accessibility</h2>
  <div class="desc keyboard">
	<p>The tab controls are keyboard accessible:</p>
  <ul>
		<li>Set focus on the tab control using the <kbd>Tab</kbd> key</li>
		<li>Press the Arrow keys to move focus between tabs.</li>
		<li>Press the <kbd>Spacebar</kbd> or <kbd>Enter</kbd>to open the selected tab.</li>
		</ul>
  </div>
</div>
