body { font-size:2.5rem; } 
#appContainer { width:60%; margin: 25px auto; } 
li[role="presentation"]{ display:inline-block; list-style-type:none; margin-right:10px;  }
a[role="tab"] { text-decoration:none; } 
a[role="tab"].active  { background-color: yellow; text-decoration:underline;  } 
ul[role="tablist"]{ padding:0; } 
